*{ 
    padding: 0; 
    margin: 0; 
    font-family: 'Roboto',sans-serif ;
}  
 body{ 
  background-color: #000;
 }
.main .title{  
  width: 100%;
  position: absolute;
  top:0; 
  left:0;  
  display: flex;   
  z-index: 100;
  align-items: center;  
  justify-content: space-between;    
  
}   
.main::after{ 
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 120px 100px 250px #000000 , inset -120px -100px 250px #000000;
    border-bottom: 0.6rem solid #111;
} 

.main .title img{ 
  width:11%; 
  margin-top: 50px;
  margin-left: 45px;
 
}
 
.title a{
  color: #fff;
  padding: 8px 18px;
  border-radius: 5px; 
  text-decoration: none;
  background-color: #e50914; 
  margin-right: 30px; 
  margin-top: 50px;
  z-index: 1000;
}   

.title h2{ 
  color: white; 
  text-align: center;
} 
.title h3{ 
  color: white; 
  text-align: center;
}
.case{
  width: 100%; 
  height: 100vh;
  position: relative;
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  
 }  
 .case .case2{ 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;  
  
 }  

.case .case3{
  position: absolute;
  top: 55%;
  left: 50%; 
  transform: translate(-50% ,-50%);
  z-index: 10000;
} 
.case .case3 .title h1{
  font-size: 70px; 
  color: white;
}
.case .case3 .title p{
  font-size: 30px; 
  color: white;
} 
.case .case3 .buttons{ 
  display: flex;  
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.case .case3 .buttons input{ 
  font-size: 16px; 
  height: 60px;
  border: 1px solid #8c8c8c; 
  color: #000;
  outline: none;
  padding: 10px 10px 0 0;
  border-radius: 2px;
  min-width: 400px; 
  align-items: center;
}

.case .case3 .buttons a{
  text-decoration: none; 
  text-transform: uppercase; 
  font-weight: 400;
  color:#fff ; 
  border-radius: 2px;
  letter-spacing: 2px;
  background:#e50914 ; 
  box-shadow: 0 1px 0 rgba(0,0,0,0.45);
  font-size: 1.625rem; 
  line-height: 72px; 
  padding: 0 30px; 
  min-width: 310px;
}
  .watch{  
    display: flex; 
    flex-direction: row;
    justify-content: space-around; 
    align-items: center;  
    padding: 4rem 4rem; 
    border-bottom: 0.6rem solid #111;
    
  } 
  .watch .tv{  
    width: 40%; 
    color: white;
    } 
   .watch .tv h1{ 
      font-size: 70px;
    }  
   .watch .tv p{ 
      font-size: 30px;
    }  
  .watch .binge{ 
    width: 45%;
  } 
  .watch .binge img{ 
    width: 100%;
  } 
  .cases{ 
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 60%;
    flex-direction: column;
    display: flex;
  }
  .cases h1{ 
    color:white;
    font-size: 3rem;
    padding:3rem 0 4rem 0;
   } 
   .clarify{
    background-color: #303030;
    padding: 20px 30px;
    display: flex;  
    color:#fff;
    text-decoration: none;
    justify-content: space-between;
    align-items: center;
    font-size: 1.7rem ;
    font-size: 400;
   } 
   .icon{
    width: 20px;
    position: relative;
   } 
   .icon::before, .icon::after{
    content: ''; 
    width: 20px;
    height: 3px;
    position: absolute;
    background: white;
    top:-1.5px;
   }
   .icon::after{
    transform: rotate(90deg);
    transition: 0.5s linear;
   } 
   .information{ 
    background-color: #303030;
    line-height: 35px;
    color:#fff; 
    margin: 3px 0;
    font-size: 1.7rem ;
    font-size: 400; 
    height: 0;
    opacity: 0;
   } 
   .querie:target .information{
    opacity: 1;
    height: auto; 
    margin: 0;
    padding: 20px 30px;
    border-top: 2px solid #000;
    margin-bottom: 6px;
   } 
   .querie:target .icon::after{
    transform: rotate(110deg);
    transition: 0.5s linear;
   }   
   .container{
    border-bottom: 0.6rem solid #111;
   }
  .container .case3{
    margin:4rem 0;
  } 
  .container .case3 .title h3{
    font-size: 20px; 
    color: white; 
    text-align: center;
  }
  .container .case3 .title p{
    font-size: 30px; 
    color: white;
  } 
  .container .case3 .buttons{ 
    display: flex;  
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .container .case3 .buttons input{ 
    font-size: 16px; 
    height: 60px;
    border: 1px solid #8c8c8c; 
    color: #000;
    outline: none;
    padding: 10px 10px 0 0;
    border-radius: 2px;
    min-width: 400px; 
    align-items: center;
  }
  
  .container .case3 .buttons a{
    text-decoration: none; 
    text-transform: uppercase; 
    font-weight: 400;
    color:#fff ; 
    border-radius: 2px;
    letter-spacing: 2px;
    background:#e50914 ; 
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    font-size: 1.625rem; 
    line-height: 72px; 
    padding: 0 30px; 
    min-width: 310px;
    border-bottom: 2px solid #000;
  } 
  .about {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    padding: 4rem 0;  
  }
  .about .us{
   width: 55%; 
   display: flex;
   flex-direction: row;
   margin: auto;
   justify-content: space-between;
  }  
  .about .us li{
    padding: 7px 0;
  } 

  .about .us li a{ 
    color: #ccc; 
     text-decoration: none; 
  } 
  .about h4{
    color: #ccc; 
  } 
  .about .us li a:hover{ 
    border-bottom:2px solid #ccc;
  } 
  